@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


body{
    background-color: hsl(52, 94%, 94%);
}

.company{
    font-family: 'Rubik Bubbles', cursive;
    text-align: center;
    font-size: 40px;
    color: #a6b37d;
}

.content{
    background-color: #b99470;
    margin: 4%;
    padding: 4%;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    padding-bottom: 5%;
}


.login-form{
    display: flex;
    align-items: center;
    font-family: rubik bubbles, sans-serif;
    flex-direction: column;
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: rubik bubbles, sans-serif;
    width: 5vh;
}


.input{
    background-color: #a6b37d;
    width: 80vh;
    height: 5vh;
    color: #fefae0;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 80%;
    border: 3px #a6b37d;
    border-style: solid;
    font-size: 22px;
    font-family: rubik bubbles;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #a6b37d inset !important;
    -webkit-text-fill-color:  #fefae0 !important;
    border: 2px solid #a6b37d !important;
    font-family: rubik bubbles, sans-serif

}

.input::placeholder{
    color:#fefae0;
    font-family: rubik bubbles;

}

.button{
    background-color: #a6b37d;
    width: 20vh;
    height: 5vh;
    color: #fefae0;
    font-weight: bold;
    border: #a6b37d;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    font-weight:400;
    margin-bottom: 5%;
    font-size:22px;
    font-family: rubik bubbles, sans-serif
}
.button:hover{
    text-decoration: underline;
}

.button:active{
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transform: scale(0.98);
    font-family: rubik bubbles, sans-serif

}

.link{
    text-decoration: none;
    font-family: rubik bubbles, sans-serif

}

.link:hover{
    text-decoration: underline;
    font-family: rubik bubbles, sans-serif

}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b99470;
    border-radius: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 5%;
    top: 0%;
    left: 0%;
}

.navbar li, a {
    display: block;
    color: #fefae0;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-family: rubik bubbles, sans-serif
}

.navbar li a:hover {
    background-color: #fefae0;
    color: #b99470;
    border-radius: 10px;
}

.flex-boba {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -15px;
    margin-left: 50px;
    margin-bottom: -20px;

}
.flex-boba2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 23px;
    margin-left: 50px;
    margin-top: -3px;
}
.flex-boba3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:530px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.boba-layer1 {
    font-size: 40px;
    font-family: 'Rubik Bubbles', cursive;
    margin: -13px;
}
.boba-layer2 {
    font-size: 40px;
    font-family: 'Rubik Bubbles', cursive;
    margin: -10px;
}
.boba-layer3 {
    font-size: 40px;
    font-family: 'Rubik Bubbles', cursive;
    margin: -13px;
}


.items{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    margin-left: 20%;
}

.item-box{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    background-color: #b99470;
    border-style: solid;
    border-radius: 10px;
    width: 250px;
    height: 180px;
    border: black;
    padding-top: 4%;
    font-size: 30px;
    padding-bottom:1%;
}

.item-box-inner{
    display: flex;
    justify-content: center;
    background-color: #a6b37d;
    border-style: solid;
    border-radius: 10px;
    width: 95%;
    height: 140px;
    border: black;
    padding-top: 5%;
    font-size: 30px;
    padding: 0;
}

.item-desc{
    display: none;
    flex-direction: column;
    align-content: center;
    margin: 5%;
    font-size: 22px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#button{
    color: black;
    width: 45%;
    height: 25%;
    align-self: center;
    font-size: 12px;
    background-color: #a6b37d;
    border: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    font-weight:100;
    font-family: rubik bubbles, sans-serif;
    margin-top: 5%;
}

#button a{
    color: #fefae0;
    padding-bottom: 80%;
}

#button a:hover{
    text-decoration: underline;
}

#button:active{
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transform: scale(0.98);
    font-family: rubik bubbles, sans-serif
}


.price-page{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: 20px;
    font-family: rubik bubbles, sans-serif;
    color: #fefae0;
}


.price-content{
    background-color: #b99470;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 95vh;
}

.back-button{
    color:#fefae0;
    font-size: 22px;
}

.back-button:hover{
    text-decoration: underline;
}

#id_quantity{
    height: 4vh;
    width: 15vh;
    background-color: #fefae0;
    border-style: none;
    border-radius: 40px;
    font-size: large;
}



.boba-layer1:hover, .boba-layer2:hover, .boba-layer3:hover {
    animation: gelatine .7s;
    animation-fill-mode: both;
}
@keyframes gelatine {

            from,
            to {
                transform: scale(1, 1) rotate(-6deg);
            }

            25% {
                transform: scale(.9, 1.1) rotate(-6deg);
            }

            50% {
                transform: scale(1.1, .9) rotate(-6deg);
            }

            75% {
                transform: scale(.95, 1.05) rotate(-6deg);
            }
        }


.success-fail-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-body {
    align-items: center;
    margin-top: 1%;
    font-size: 20px;
    font-family: rubik bubbles, sans-serif;
    color: #fefae0;
}

.success-body2 {
    background-color: #b99470;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 95vh;
}
