{% extends 'success_fail_base.html' %}
{% load static %}

{% block content %}
    <div class="success-body"></div>
        <div class="success-body2">
                    <a class="back-button" href="{% url 'storefront' %}">Return to Store Front</a>
                    <h1 style="margin-top: 10%;">Your purchase for {{ item.name }} was successful.</h1>
                    <p>${{ item.price }} Each</p>
                    <p>{{ item.description }}</p>
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 180px; height: 150px;">
        </div>
    </div>
{% endblock content %}