{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="price-page">
    <div class="price-content">
        <a class="back-button" href="{% url 'storefront' %}">Return to Store Front</a>
        <h2>{{ item.name }}</h2>
        <p>${{ item.price }} Each</p>
        <p>{{ item.description }}</p>
        <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 200px; height: 200px;">

        <form action="{% url 'pricing' item.id %}" method="post" style="display:flex; flex-direction:column; justify-content: center;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button" style="margin-left:15%;">Submit</button>
        </form>

        {% if quantity %}
            <p>Selected quantity: {{ quantity }}</p>
            <a href="{% url 'checkout' item.id quantity %}">
                <button class="button2">Proceed to Checkout</button>
            </a>
        {% endif %}
    </div>
</div>
{% endblock content %}