{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="text-align: center;">
    <div>
        <ul class="navbar">
            <li><a href="{% url 'storefront_filtered' 'drink' %}">Drinks</a></li>
            <li><a href="{% url 'storefront_filtered' 'food' %}">Food</a></li>
            <li><a href="{% url 'storefront' %}">All</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        <div class=" flex-boba3">
            <li class="boba-layer3" style="color: #644117">⬤</li>
            <li class="boba-layer3" style="color: #644117">⬤</li>
            <li class="boba-layer3" style="color: #644117">⬤</li>
            <li class="boba-layer3" style="color: #644117">⬤</li>
            <li class="boba-layer3" style="color: #644117">⬤</li>
        </div>
        <div class=" flex-boba2">
            <li class="boba-layer2" style="color: #644117">⬤</li>
            <li class="boba-layer2" style="color: #644117">⬤</li>
            <li class="boba-layer2" style="color: #644117">⬤</li>
            <li class="boba-layer2" style="color: #644117">⬤</li>
            <li class="boba-layer2" style="color: #644117">⬤</li>
        </div>
        <div class="flex-boba">
            <li class="boba-layer1" style="color: #644117">⬤</li>
            <li class="boba-layer1" style="color: #644117">⬤</li>
            <li class="boba-layer1" style="color: #644117">⬤</li>
            <li class="boba-layer1" style="color: #644117">⬤</li>
            <li class="boba-layer1" style="color: #644117">⬤</li>

            
        </div>

            </div>
        </ul>
    </div>

    <h1 class="company">The Daily Brew</h1>
    
    <div class="items">
        {% for item in items%}
            <div class="item-box" id="item-box">
                <button id="button"><a href="{% url 'pricing' item.id %}">pricing</a></button>
                <button id="button2">button</button>

                <div class="item-box-inner">{{ item.name }}</div><div class="item-desc" id="item-desc">{{item.description}}</div></div>
        {% endfor %}
    </div>
</body>
{% endblock content %}
