{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="text-align: center; margin-bottom: 20%;">
    <div>
        <ul class="navbar">
            <li><a href="{% url 'storefront_filtered' 'drink' %}">Drinks</a></li>
            <li><a href="{% url 'storefront_filtered' 'food' %}">Food</a></li>
            <li><a href="{% url 'storefront' %}">All</a></li>
            <li ><a href="{% url 'logout' %}" id="logout">Logout</a></li>
        
        </ul>
    </div>

    <h1 class="company">The Daily Brew</h1>
    
    <div class="items">
        {% for item in items%}
            <div class="item-box" >
                <div class="item-box-inner">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="item-image">
                </div>
                    <div class="item-desc">{{item.name}}
                        <button id="button"><a href="{% url 'pricing' item.id %}">Details</a></button>
                    </div>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock content %}
